
	<div class="footer-inner">
		<!-- #section:basics/footer -->
		<div class="footer-content">
			<span class="bigger-120" style=" color: #999;font-size: 100% !important;"> 
				 Copyright © XXXX-2014 ,All Rights Reserved 版权所有 免不了后台 &nbsp;&nbsp;<img src="images/logo.png" alt="" style="margin-top:-8px"/>
			</span>

			&nbsp; &nbsp;
	<!-- 		<span class="action-buttons">
				<a href="#">
					<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
				</a>
			</span> -->
		</div>

		<!-- /section:basics/footer -->
	</div>
 
