
	<!--  遮罩层 begin  -->
     <div id="cover" class="cover">
         <div class="row">
             <div class="col-xs-4"></div>
             <div style="position: fixed; margin-top: 300px; margin-left: 600px; padding-left: 0px; padding-right: 0px; height: 36px;" class="col-xs-4 progress progress-striped active">
                 <div class="progress-bar progress-bar-inverse" style="width: 100%; color: white;font-size:15px;line-height: 34px">加载中.......</div>
             </div>
             <div class="col-xs-4"></div>
         </div>
     </div>
     <!--  遮罩层 end  -->

	<!-- /section:basics/content.breadcrumbs animated myZoomInUp -->
	<div class="page-content " ui-view autoscroll='false' style="min-height: 500px;">
	</div><!-- /.page-content -->
	
 
