<div class="page-content-area">
    <div class="row">
        <div class="col-xs-12 form-contain">
            <form class="form-horizontal" role="form">
					<div class="row"> 
						<div class="form-group col-xs-12">
							<div class="form-group col-xs-4">
								<label class="col-sm-4 control-label no-padding-right" for="">订单开始日期:</label>
								<div class="col-sm-7">
									<input id="orderTimeBegin" name="orderTimeBegin"  readonly
											my-datepicker-model="search.orderTimeBegin"
		                             		ng-model="search.orderTimeBegin" class="input-xlarge input-sm error-span" 
		                             		type="text" onClick="WdatePicker({skin:'twoer'})">
								</div>
							</div>
							<div class="form-group col-xs-4">
								<label class="col-sm-4 control-label no-padding-right" for="">订单结束日期:</label>
								<div class="col-sm-7">
									<input id="orderTimeEnd" name="orderTimeEnd"  readonly
											my-datepicker-model="search.orderTimeEnd"
		                             		ng-model="search.orderTimeEnd" class="input-xlarge input-sm error-span" 
		                             		type="text" onClick="WdatePicker({skin:'twoer'})">
								</div>
							</div>
							<div class="form-group col-xs-4">
								<label class="col-sm-4 control-label no-padding-right" for="">
									订单编号:</label>
								<div class="col-sm-7">
									<input ng-model="search.orderNo" class="input-xlarge input-sm" type="text" maxlength="50"/> 
								</div>
							</div>
							<div class="form-group col-xs-4">
								<label class="col-sm-4 control-label no-padding-right" for="">提现开始日期:</label>
								<div class="col-sm-7">
									<input id="settleTimeBegin" name="settleTimeBegin"  readonly
											my-datepicker-model="search.settleTimeBegin"
		                             		ng-model="search.settleTimeBegin" class="input-xlarge input-sm error-span" 
		                             		type="text" onClick="WdatePicker({skin:'twoer'})">
								</div>
							</div>
							<div class="form-group col-xs-4">
								<label class="col-sm-4 control-label no-padding-right" for="">提现结束日期:</label>
								<div class="col-sm-7">
									<input id="settleTimeEnd" name="settleTimeEnd"  readonly
											my-datepicker-model="search.settleTimeEnd"
		                             		ng-model="search.settleTimeEnd" class="input-xlarge input-sm error-span" 
		                             		type="text" onClick="WdatePicker({skin:'twoer'})">
								</div>
							</div>
							<div class="form-group col-xs-4">
								<label class="col-sm-4 control-label no-padding-right" for="">
									商铺名称:</label>
								<div class="col-sm-7">
									<input ng-model="search.shopName" class="input-xlarge input-sm" type="text" maxlength="50"/> 
								</div>
							</div>
							
						</div>
					</div>
				</form>
	            <div class="hr hr-8 solid dotted-bottom search-hr">
	                <span class="search-tool" ng-click="onsearch()">
	                <i class="ace-icon glyphicon glyphicon-search bigger-110"></i>&nbsp;查询
	                </span>
	            </div>
	            <div class="row">
	                <div class="col-xs-10 height25">
	                	<a class="btn btn-primary btn-r-primary btn-sm btn-radius" ng-click="settle()"><i class="ace-icon glyphicon glyphicon-plus bigger-110"></i>&nbsp;结算</a>
	                </div>
	            </div>
	            <div class="hr hr-8 hr-double dotted"></div>
	            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover table-list   table-condensed  checked-0">
                            <thead>
                                <tr>
                                   <th width="5%">序号</th>
                                   <th>订单号</th>
								   <th>订单日期</th>
								   <th>用户</th>
								   <th>提现金额</th>
								   <th>是否支付</th>
								   <th>支付类型</th>
								   <th>订单类型</th>
								   <th>订单状态</th>
								   <th>店铺名称</th>
								   <th>结算方式</th>
								   <th>是否结算</th>
								   <th>结算日期</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<tr ng-repeat="item in dataList.data">
	                                <td>{{$index+1}}</td>
	                                <td>{{item.orderNo}}</td>
	                                <td>{{item.orderTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
	                                <td>{{item.userName}}</td>
	                                <td>{{item.paid | number:2}}</td>
	                                <td>{{item.isPayName}}</td>
	                                <td>{{item.payTypeName}}</td>
	                                <td>{{dictMap_order_type[item.orderType][0]['dictValue']}}</td>
	                                <td>{{dictMap_order_status[item.status][0]['dictValue']}}</td>
	                                <td>{{item.shopName}}</td>
	                                <td>{{item.balanceTypeName}}</td>
	                                <td>{{item.isSettleName}}</td>
	                                <td>{{item.settleTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                             	</tr>
                            </tbody>
                        </table>
                        <div plat-paging="dataList" plat-form="search"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

	require(['settle/form'],function(form){
		form.init();
	});
</script>

<div ng-include="'partials/settle/modal/settle.html'"></div>