		 
	<div id="home" class="tab-pane fade in active">
		<div class="row">
			<div class="col-xs-12">
				
				<div class="col-sm-6">
					<div class="infobox-data">
						<span class="infobox-data-number">公共弹出框7</span>
						<div class="infobox-content">
							<div class="input-large">
								<div class="input-group">
									<input class="input-sm error-span" ng-model="dept.orgName" width="100%" type="text"/>
									<span class="input-group-addon" ng-click="selectDeptDialog()">选择部门</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="infobox-data">
						<span class="infobox-data-number">公共弹出框8</span>
						<div class="infobox-content">
							<div class="input-large">
								<div class="input-group">
									<input class="input-sm error-span" ng-model="person.accountName" width="100%" type="text"/>
									<span class="input-group-addon" ng-click="selectPersonDialog()">选择人</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
