<!-- modal begin -->
  <!--  Modal content for the above example -->
<div class="modal fade modal-scroll" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-replace="true">
    <div class="modal-dialog modal-lg" style="width:80%;">
      	<div class="modal-content">

	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">
	          <span aria-hidden="true">&times;</span>
	          <span class="sr-only">Close</span>
	          </button>
	          <h4 class="modal-title" id="myLargeModalLabel">添加用户信息</h4>
	        </div>
	        <div class="modal-body row">
 				<form class="form-horizontal" role="form" id="baseinfo-form">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12">
								<label class="col-sm-2 control-label no-padding-right" for="">
									姓名:
								</label>
								<div class="col-sm-3"> 
									<input id="" name="userName" 
	                             		ng-model="user.userName" class="input-xlarge input-sm error-span" type="text" >
								</div>
							</div>
							<div class="form-group col-xs-12" ng-show="addFlag">
								<label class="col-sm-2 control-label no-padding-right" for="">
									账号:
								</label>
								<div class="col-sm-3"> 
									<input id=""  name="accountCode" ng-model="user.accountCode" class="input-xlarge input-sm error-span" type="text" >
								</div>
							</div>
							<div class="form-group col-xs-12">
								<label class="col-sm-2 control-label no-padding-right" for="">
									性别:</label>
								<div class="col-sm-3">
									<select name="sex" class="input-xlarge input-sm error-span" type="text" ng-model="user.sex"
										ng-options="dict.dictCode as dict.dictValue for dict in dict_sex">
										<option value="">--请选择--</option>
									</select>
								</div>
							</div>
							<div class="form-group col-xs-12">
								<label class="col-sm-2 control-label no-padding-right" for="">
									电话:</label>
								<div class="col-sm-3">
									<input id="tel" name="tel" 
	                             		ng-model="user.tel" class="input-xlarge input-sm error-span" type="text"/>
								</div>
							</div>
									
							<div class="form-group col-xs-12">
								<label class="col-sm-2 control-label no-padding-right" for="">
									积分:</label>
								<div class="col-sm-3">
									<input id="point" name="point" 
	                             		ng-model="user.point" class="input-xlarge input-sm error-span" type="text"/>
								</div>
							</div>
							<div class="form-group col-xs-12">
								<label class="col-sm-2 control-label no-padding-right" for="">
									状态:</label>
								<div class="col-sm-3">
									<select name="userStatus" class="input-xlarge input-sm error-span" type="text" ng-model="user.userStatus"
										ng-options="dict.dictCode as dict.dictValue for dict in dict_status">
										<option value="">--请选择--</option>
									</select>
								</div>
							</div>
							
							<div class="form-group col-xs-12">
								<label class="col-sm-2 control-label no-padding-right" for="">
									备用电话:</label>
								<div class="col-sm-3">
									<input id="tel2" name="tel2" 
	                             		ng-model="user.tel2" class="input-xlarge input-sm error-span" type="text"/>
								</div>
							</div>
							
							<div class="form-group col-xs-12">
								<label class="col-sm-2 control-label no-padding-right" for="">
									地址:</label>
								<div class="col-sm-7">
									<textarea name="address" ng-model="user.address" class="input-xxlarge input-sm error-span"  
										rows="5" cols="50">
									</textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
	        </div>
	        <div class="modal-footer"> 
				<div class="row">
					<center class="submit col-sm-12"><!--col-xs-offset-10 col-xs-2 -->
						<button class="btn btn-primary btn-r-primary  btn-radius" ng-click="saveOk()">
						<i class="ace-icon fa  fa-check bigger-110"></i>确 定</button>
						<button class="btn btn-default btn-r-default  btn-radius" data-dismiss="modal"> <i class="ace-icon fa fa-times bigger-110"></i>关 闭</button>
					</center>
				</div> 
			</div>
      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal end -->