<!-- modal begin -->
  <!--  Modal content for the above example -->
<div class="modal fade modal-scroll" id="roleMenuModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-replace="true">
    <div class="modal-dialog modal-lg" style="width:90%;">
      	<div class="modal-content">

	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">
	          <span aria-hidden="true">&times;</span>
	          <span class="sr-only">Close</span>
	          </button>
	          <h4 class="modal-title" id="myLargeModalLabel">设置角色菜单</h4>
	        </div>
	        <div class="modal-body row">
				<div class="row">
			        <div class="col-xs-12 form-contain">
			        	<div class="row">
			             	<div class="col-xs-12">
								<div class="tree_border" style="height:400px;border-radius: 4px;">
									<div id="jstree_menu"></div>
								</div>
							</div>
			           </div>
			        </div>
			    </div>
	        </div>
	        <div class="modal-footer"> 
				<div class="row">
					<center class="submit col-sm-12"><!--col-xs-offset-10 col-xs-2 -->
						<button class="btn btn-primary btn-r-primary  btn-radius" ng-click="settingMenuOk()">
						<i class="ace-icon fa  fa-check bigger-110"></i>确 定</button>
						<button class="btn btn-default btn-r-default  btn-radius" data-dismiss="modal"> <i class="ace-icon fa fa-times bigger-110"></i>关 闭</button>
					</center>
				</div> 
			</div>
      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal end -->