<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbl.common.mapper.CarSeriesMapper">
	<parameterMap id="baseParameterMap" type="com.mbl.common.bean.CarSeries" />

	<resultMap id="baseResultMap" type="com.mbl.common.bean.CarSeries">
		<id column="cs_id" property="csId" jdbcType="VARCHAR" />
		<result column="cb_id" property="cbId" jdbcType="VARCHAR" />
		<result column="series_code" property="seriesCode" jdbcType="VARCHAR" />
	    <result column="series" property="series" jdbcType="VARCHAR" />
	    <result column="factory" property="factory" jdbcType="VARCHAR" />
	    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
	    <result column="creation_by" property="creationBy" jdbcType="VARCHAR" />
	    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
	    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 映射字段 -->
	<sql id="base_column_list" >
		cs_id csId,cb_id cbId,series_code seriesCode,series,factory,creation_Date creationDate,creation_By creationBy,
		last_Update_Date lastUpdateDate,last_Update_By lastUpdateBy
	</sql>
	
	<insert id="save" parameterMap="baseParameterMap">
		insert into m_car_series (cs_id,cb_id,series_code,series,factory,creation_date,creation_by,last_update_date,last_update_by)
		VALUES(#{csId,jdbcType=VARCHAR},#{cbId,jdbcType=VARCHAR},#{seriesCode,jdbcType=VARCHAR},#{series,jdbcType=VARCHAR},
			   #{factory,jdbcType=VARCHAR},#{creationDate,jdbcType=TIMESTAMP},#{creationBy,jdbcType=VARCHAR},#{lastUpdateDate,jdbcType=TIMESTAMP},
			   #{lastUpdateBy,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterMap="baseParameterMap">
		update m_car_series
		<set >
			<if test="cbId != null" >
	      		cb_id=#{cbId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="seriesCode != null" >
	      		series_code=#{seriesCode,jdbcType=VARCHAR},
	      	</if>
			<if test="series != null" >
	      		series=#{series,jdbcType=VARCHAR},
	      	</if>
	      	<if test="factory != null" >
	      		factory=#{factory,jdbcType=VARCHAR},
	      	</if>
	      	<if test="creationDate != null" >
	      		creation_date=#{creationDate,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="creationBy != null" >
	      		creation_by=#{creationBy,jdbcType=VARCHAR},
	      	</if>
	      	<if test="lastUpdateDate != null" >
	      		last_update_date=#{lastUpdateDate,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="lastUpdateBy != null" >
	      		last_update_by=#{lastUpdateBy,jdbcType=VARCHAR},
	      	</if>
     </set> 
	WHERE cs_id=#{csId,jdbcType=VARCHAR}
	</update>
	
	<!-- 根据id删除某个车系 -->
	<delete id="delById">
		delete from m_car_series where cs_id=#{csId,jdbcType=VARCHAR}
	</delete>
	
	<!-- 根据品牌id删除某些车系 -->
	<delete id="delByCbId">
		delete from m_car_series where cb_id=#{cbId,jdbcType=VARCHAR}
	</delete>
	
	<!-- 根据id查询某个车系 -->
	<select id="getById" resultMap="baseResultMap">
		SELECT <include refid="base_column_list" /> 
		FROM m_car_series where cs_id=#{csId,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据条件查询车系  -->
	<select id="findListByParams" resultMap="baseResultMap">
		SELECT <include refid="base_column_list" /> 
		FROM m_car_series where 1=1
		 <if test="csId!=null and csId!=''">AND cs_id=#{csId,jdbcType=VARCHAR}</if>
		 <if test="cbId!=null and cbId!=''">AND cb_id=#{cbId,jdbcType=VARCHAR}</if>
		 <if test="series!=null and series!=''">AND series like '%${series}%'</if>
		 <if test="factory!=null and factory!=''">AND factory like '%${factory}%'</if>
	</select>
	
	<!-- 根据条件查询车系数量 -->
	<select id="getCountByParams" resultType="Long">
		SELECT count(1)
		FROM m_car_series where 1=1
		 <if test="csId!=null and csId!=''">AND cs_id=#{csId,jdbcType=VARCHAR}</if>
		 <if test="cbId!=null and cbId!=''">AND cb_id=#{cbId,jdbcType=VARCHAR}</if>
		 <if test="series!=null and series!=''">AND series like '%${series}%'</if>
		 <if test="factory!=null and factory!=''">AND factory like '%${factory}%'</if>
	</select>
	
	<!-- 批量保存车系 -->
	<insert id="batchSaveCarSeries" parameterType="java.util.List">  
	    insert into m_car_series (cs_id,cb_id,series_code,series,factory,creation_by,last_update_by)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.csId},#{item.cbId},#{item.seriesCode},#{item.series},
			   #{item.factory},#{item.creationBy},#{item.lastUpdateBy}) 
	    </foreach>  
	</insert>
</mapper>