<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbl.common.mapper.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.mbl.common.vo.ShopVO" >
    <id column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="creation_by" property="creationBy" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="discount_upper_limit" property="discountUpperLimit" jdbcType="DECIMAL" />
    <result column="discount_lower_limit" property="discountLowerLimit" jdbcType="DECIMAL" />
    <result column="cooperate_status" property="cooperateStatus" jdbcType="VARCHAR" />
    <result column="cooperate_start_date" property="cooperateStartDate" jdbcType="DATE" />
    <result column="cooperate_end_date" property="cooperateEndDate" jdbcType="DATE" />
    <result column="shop_status" property="shopStatus" jdbcType="VARCHAR" />
    <result column="balance_type" property="balanceType" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="cooperate_status_name" property="cooperateStatusName" jdbcType="VARCHAR" />
    <result column="balance_type_name" property="balanceTypeName" jdbcType="VARCHAR" />
    <result column="shop_status_name" property="shopStatusName" jdbcType="VARCHAR" />
    <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="account_code" property="accountCode" jdbcType="VARCHAR" />
    <result column="shop_type" property="shopType" jdbcType="VARCHAR" />
    <result column="shop_type_name" property="shopTypeName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="rebate" property="rebate" jdbcType="DECIMAL" />
     <result column="account_id" property="accountId" jdbcType="VARCHAR" />
     <result column="rebate_date" property="rebateDate" jdbcType="VARCHAR" />
    <result column="pond" property="pond" jdbcType="DECIMAL" />
  </resultMap>


	<resultMap id="ResultMap" type="com.mbl.common.bean.Shop" >
    <id column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="creation_by" property="creationBy" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="discount_upper_limit" property="discountUpperLimit" jdbcType="DECIMAL" />
    <result column="discount_lower_limit" property="discountLowerLimit" jdbcType="DECIMAL" />
    <result column="cooperate_status" property="cooperateStatus" jdbcType="VARCHAR" />
    <result column="cooperate_start_date" property="cooperateStartDate" jdbcType="DATE" />
    <result column="cooperate_end_date" property="cooperateEndDate" jdbcType="DATE" />
    <result column="shop_status" property="shopStatus" jdbcType="VARCHAR" />
    <result column="balance_type" property="balanceType" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="shop_type" property="shopType" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="rebate" property="rebate" jdbcType="DECIMAL" />
    <result column="rebate_date" property="rebateDate" jdbcType="VARCHAR" />
    <result column="pond" property="pond" jdbcType="DECIMAL" />
  </resultMap>

	<select id="getById" resultMap="ResultMap" parameterType="java.lang.String" >
		select * from m_shop s where s.shop_id = #{shopId,jdbcType=VARCHAR}
	</select>
	
	<delete id="delById" parameterType="java.lang.String" >
    delete from m_shop
    	where shop_id = #{shopId,jdbcType=VARCHAR}
  </delete>

  <select id="getShopById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select s.*,
    	dbalance.dict_value balance_type_name,
    	dshopstatus.dict_value shop_status_name,
    	dcooperatestatus.dict_value cooperate_status_name,
    	ac.account_code,
    	dshoptype.dict_value shop_type_name,
    	ac.account_id
    from m_shop s  left join
       (select * from m_account where account_type = '2') ac on  s.shop_id = ac.shop_id,
    	 (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'balance_type'
           and dh.dict_status = '1') dbalance,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_status'
           and dh.dict_status = '1') dshopstatus,
          (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'cooperate_status'
           and dh.dict_status = '1') dcooperatestatus,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_type'
           and dh.dict_status = '1') dshoptype
    where s.balance_type = dbalance.dict_code
      and s.shop_status = dshopstatus.dict_code
      and s.cooperate_status = dcooperatestatus.dict_code
      and s.shop_type = dshoptype.dict_code
      and s.shop_id = #{shopId,jdbcType=VARCHAR}
       limit 1
  </select>
  
  <select id="getShopByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select s.*,
    	dbalance.dict_value balance_type_name,
    	dshopstatus.dict_value shop_status_name,
    	dcooperatestatus.dict_value cooperate_status_name,
    	ac.account_code,
    	dshoptype.dict_value shop_type_name,
    	ac.account_id
    from m_shop s  left join
       (select * from m_account where account_type = '2') ac on  s.shop_id = ac.shop_id,
    	 (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'balance_type'
           and dh.dict_status = '1') dbalance,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_status'
           and dh.dict_status = '1') dshopstatus,
          (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'cooperate_status'
           and dh.dict_status = '1') dcooperatestatus,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_type'
           and dh.dict_status = '1') dshoptype
    where s.balance_type = dbalance.dict_code
      and s.shop_status = dshopstatus.dict_code
      and s.cooperate_status = dcooperatestatus.dict_code
      and s.shop_type = dshoptype.dict_code
      and s.shop_code = #{shopCode,jdbcType=VARCHAR}
  </select>
  
  <select id="findShopListByParams" resultMap="BaseResultMap" parameterType="map">
    select s.*,
    	dbalance.dict_value balance_type_name,
    	dshopstatus.dict_value shop_status_name,
    	dcooperatestatus.dict_value cooperate_status_name,
    	ac.account_code,
    	dshoptype.dict_value shop_type_name
    from m_shop s  left join
       (select * from m_account where account_type = '2') ac on  s.shop_id = ac.shop_id,
    	 (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'balance_type'
           and dh.dict_status = '1') dbalance,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_status'
           and dh.dict_status = '1') dshopstatus,
          (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'cooperate_status'
           and dh.dict_status = '1') dcooperatestatus,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_type'
           and dh.dict_status = '1') dshoptype
    where s.balance_type = dbalance.dict_code
      and s.shop_status = dshopstatus.dict_code
      and s.cooperate_status = dcooperatestatus.dict_code
      and s.shop_type = dshoptype.dict_code
      <if test="shopName != null and shopName!=''" >  
      	<![CDATA[ and s.shop_name like concat('%',#{shopName,jdbcType=VARCHAR},'%')]]>
      </if>
      <if test="cooperateStatus != null and cooperateStatus!=''" >  
      	<![CDATA[ and s.cooperate_status = #{cooperateStatus,jdbcType=VARCHAR}]]>
      </if>
      <if test="shopStatus!= null and shopStatus!=''" >  
      	<![CDATA[ and s.shop_status = #{shopStatus,jdbcType=VARCHAR}]]>
      </if>
      <if test="balanceType!= null and balanceType!=''" >  
      	<![CDATA[ and s.balance_type = #{balanceType,jdbcType=VARCHAR}]]>
      </if>
      
      <!-- <if test="longitude!= null and longitude!=''" >  
      	<![CDATA[ 
      	    AND longitude > #{longitude,jdbcType=VARCHAR}-20/111 
 			AND longitude < #{longitude,jdbcType=VARCHAR}+20/111
      	]]>
      </if>
      <if test="latitude!= null and latitude!=''" >  
      	<![CDATA[ 
      	    and latitude > #{latitude,jdbcType=VARCHAR}-20/111 
      		and latitude < #{latitude,jdbcType=VARCHAR}+20/111
      	]]>
      </if> -->
      <if test="searchStr!= null and searchStr!=''" >  
      	<![CDATA[ and (s.shop_name like concat('%',#{searchStr,jdbcType=VARCHAR},'%')
      	      or s.introduce like concat('%',#{searchStr,jdbcType=VARCHAR},'%')
      	      or s.address like concat('%',#{searchStr,jdbcType=VARCHAR},'%')
      	     )
      	 ]]>
      </if>
      ORDER BY S.creation_date
  </select>
  
  <select id="countShopListByParams" resultType="Long"  parameterType="map">
    select count(1)
    from m_shop s  left join
       (select * from m_account where account_type = '2') ac on  s.shop_id = ac.shop_id,
    	 (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'balance_type'
           and dh.dict_status = '1') dbalance,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_status'
           and dh.dict_status = '1') dshopstatus,
          (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'cooperate_status'
           and dh.dict_status = '1') dcooperatestatus,
           (select dh.dict_id, dl.dict_value, dl.dict_code
          from m_dict_head dh, m_dict_line dl
         where dh.dict_id = dl.dict_head_id
           and dh.head_code = 'shop_type'
           and dh.dict_status = '1') dshoptype
    where s.balance_type = dbalance.dict_code
      and s.shop_status = dshopstatus.dict_code
      and s.cooperate_status = dcooperatestatus.dict_code
      and s.shop_type = dshoptype.dict_code
      <if test="shopName != null and shopName!=''" >  
      	<![CDATA[ and s.shop_name like concat('%',#{shopName,jdbcType=VARCHAR},'%')]]>
      </if>
      <if test="cooperateStatus != null and cooperateStatus!=''" >  
      	<![CDATA[ and s.cooperate_status = #{cooperateStatus,jdbcType=VARCHAR}]]>
      </if>
      <if test="shopStatus!= null and shopStatus!=''" >  
      	<![CDATA[ and s.shop_status = #{shopStatus,jdbcType=VARCHAR}]]>
      </if>
      <if test="balanceType!= null and balanceType!=''" >  
      	<![CDATA[ and s.balance_type = #{balanceType,jdbcType=VARCHAR}]]>
      </if>
  </select>
  
  <insert id="save" parameterType="com.mbl.common.bean.Shop" >
    insert into m_shop (shop_id, introduce, address, 
      longitude, latitude, creation_date, 
      creation_by, last_update_date, last_update_by, 
      discount_upper_limit, discount_lower_limit, 
      cooperate_status, cooperate_start_date, cooperate_end_date, 
      shop_status, balance_type, level,shop_name,shop_code,tel,shop_type,url,rebate,rebate_date,pond
      )
    values (#{shopId,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{creationBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, 
      #{discountUpperLimit,jdbcType=DECIMAL}, #{discountLowerLimit,jdbcType=DECIMAL}, 
      #{cooperateStatus,jdbcType=VARCHAR}, #{cooperateStartDate,jdbcType=DATE}, #{cooperateEndDate,jdbcType=DATE}, 
      #{shopStatus,jdbcType=VARCHAR}, #{balanceType,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}
      , #{shopCode,jdbcType=VARCHAR} , #{tel,jdbcType=VARCHAR}, #{shopType,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{rebate,jdbcType=DECIMAL}
      , #{rebateDate,jdbcType=VARCHAR},#{pond,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mbl.common.bean.Shop" >
    insert into m_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="creationBy != null" >
        creation_by,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="discountUpperLimit != null" >
        discount_upper_limit,
      </if>
      <if test="discountLowerLimit != null" >
        discount_lower_limit,
      </if>
      <if test="cooperateStatus != null" >
        cooperate_status,
      </if>
      <if test="cooperateStartDate != null" >
        cooperate_start_date,
      </if>
      <if test="cooperateEndDate != null" >
        cooperate_end_date,
      </if>
      <if test="shopStatus != null" >
        shop_status,
      </if>
      <if test="balanceType != null" >
        balance_type,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopCode != null" >
        shop_code,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="shopType != null" >
        shop_type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="rebate != null" >
        rebate,
      </if>
      <if test="rebateDate != null" >
        rebate_date,
      </if>
      <if test="pond != null" >
        pond,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creationBy != null" >
        #{creationBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="discountUpperLimit != null" >
        #{discountUpperLimit,jdbcType=DECIMAL},
      </if>
      <if test="discountLowerLimit != null" >
        #{discountLowerLimit,jdbcType=DECIMAL},
      </if>
      <if test="cooperateStatus != null" >
        #{cooperateStatus,jdbcType=VARCHAR},
      </if>
      <if test="cooperateStartDate != null" >
        #{cooperateStartDate,jdbcType=DATE},
      </if>
      <if test="cooperateEndDate != null" >
        #{cooperateEndDate,jdbcType=DATE},
      </if>
      <if test="shopStatus != null" >
        #{shopStatus,jdbcType=VARCHAR},
      </if>
      <if test="balanceType != null" >
        #{balanceType,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        #{shopCode,jdbcType=VARCHAR},
      </if>
       <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
       <if test="shopType != null" >
        #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
       <if test="rebate != null" >
       #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rebateDate != null" >
       #{rebateDate,jdbcType=VARCHAR},
      </if>
      <if test="pond != null" >
        #{pond,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.mbl.common.bean.Shop" >
    update m_shop
    <set >
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creationBy != null" >
        creation_by = #{creationBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="discountUpperLimit != null" >
        discount_upper_limit = #{discountUpperLimit,jdbcType=DECIMAL},
      </if>
      <if test="discountLowerLimit != null" >
        discount_lower_limit = #{discountLowerLimit,jdbcType=DECIMAL},
      </if>
      <if test="cooperateStatus != null" >
        cooperate_status = #{cooperateStatus,jdbcType=VARCHAR},
      </if>
      <if test="cooperateStartDate != null" >
        cooperate_start_date = #{cooperateStartDate,jdbcType=DATE},
      </if>
      <if test="cooperateEndDate != null" >
        cooperate_end_date = #{cooperateEndDate,jdbcType=DATE},
      </if>
      <if test="shopStatus != null" >
        shop_status = #{shopStatus,jdbcType=VARCHAR},
      </if>
      <if test="balanceType != null" >
        balance_type = #{balanceType,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        shop_code = #{shopCode,jdbcType=VARCHAR},
      </if>
       <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null" >
        shop_type = #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
       <if test="rebate != null" >
         rebate = #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rebateDate != null" >
         rebate_date = #{rebateDate,jdbcType=VARCHAR},
      </if>
       <if test="pond != null" >
        pond = #{pond,jdbcType=DECIMAL},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbl.common.bean.Shop" >
    update m_shop
    set introduce = #{introduce,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      creation_by = #{creationBy,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      discount_upper_limit = #{discountUpperLimit,jdbcType=DECIMAL},
      discount_lower_limit = #{discountLowerLimit,jdbcType=DECIMAL},
      cooperate_status = #{cooperateStatus,jdbcType=VARCHAR},
      cooperate_start_date = #{cooperateStartDate,jdbcType=DATE},
      cooperate_end_date = #{cooperateEndDate,jdbcType=DATE},
      shop_status = #{shopStatus,jdbcType=VARCHAR},
      balance_type = #{balanceType,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_code = #{shopCode,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      shop_type = #{shopType,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      rebate = #{rebate,jdbcType=DECIMAL},
      rebate_date = #{rebateDate,jdbcType=VARCHAR},
      pond = #{pond,jdbcType=DECIMAL}
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </update>
</mapper>