<div class="page-content-area">
    <div class="row">
		<div class="widget-box transparent" style="padding: 10px 20px;">
		<div class="widget-header widget-header-small">
			<h4 class="widget-title blue smaller">
				<i class="ace-icon glyphicon glyphicon-list orange"></i>
				店铺套餐信息
			</h4>
			<div class="widget-toolbar no-border">
				<a href="javascript:;" data-action="collapse"> 
					<i class="ace-icon fa fa-chevron-up green"></i>
				</a> 
				<a class="orange2" data-action="fullscreen" href="javascript:;"> 
					<i class="ace-icon fa fa-fullscreen"></i>
				</a>
			</div>
			<div class="widget-toolbar action-buttons center">
				<a class="btn btn-default btn-r-default btn-sm btn-radius pull-left" ng-click="goBack()"><i class="ace-icon fa fa-reply bigger-110"></i>返 回</a>
				&nbsp;&nbsp;
				<a class="btn btn-primary btn-r-primary btn-sm btn-radius pull-right" role="button" ng-show="!isView"
							ng-click="addShopPkg()"><i class="ace-icon fa fa-plus bigger-110"></i>&nbsp;添加</a>
			</div>
		</div>
		<div class="widget-body padding-top-13">
			<div class="table-responsive">
				<div class="hr hr-8 hr-double dotted"></div>
					<table id="sample-table-2"  style="table-layout:fixed;"
						class="table table-striped table-bordered table-hover table-list   table-condensed  checked-0">
						<thead>
							<tr>
								<th width="5%">序号</th>
								<th width="10%">套餐名称</th>
								<th width="15%">套餐开始日期</th>
								<th width="15%">套餐结束日期</th>
								<th width="8%">套餐类型</th>
								<th width="8%">套餐价格</th>
								<th width="25%">套餐描述</th>
								<th width="15%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in shopPkgDataList.data">
								<td>{{$index+1}}</td>
								<td>{{item.pkgName}}</td>
								<td>{{item.pkgStartDate | date:'yyyy-MM-dd'}}</td>
								<td>{{item.pkgEndDate | date:'yyyy-MM-dd'}}</td>
								<td>{{item.pkgTypeName}}</td>
								<td>{{item.pkgPrice}}</td>
								<td title="{{item.description}}" style="width:100px;border:1px lightblue solid;overflow:hidden;text-overflow:ellipsis;">{{item.description}}</td>
								<td>
									<div class="hidden-sm hidden-xs action-buttons">
										<a class="green" href="javascript:;" ng-click="viewShopPkg(item.spId)">
											<i class="ace-icon fa fa-search bigger-130"></i>查看
										</a>
										<a class="blue" href="javascript:;" ng-click="editShopPkg(item.spId)"> 
											<i class="ace-icon fa fa-pencil bigger-130"></i>编辑
										</a> 
										<a class="red" href="javascript:;" ng-click="deleteShopPkg(item.spId)"> 
										 	<i class="ace-icon fa fa-trash-o bigger-130"></i>删除
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div plat-paging="shopPkgDataList" plat-form="search"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'partials/plat/shop/modal/shopPkgEdit.html'"></div>
